# Yet Another COVID-19 Dashbord (data wrangling)

Yet another COVID-19 dashboard built by yet another data science enthousiast.   
I made this so I can look at the data the way I like.  
Please feel free to fork, modify and distribute.

### Imports

In [74]:
import pandas as pd
import numpy as np

### Get the data

In [75]:
confirmed_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
dead_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
recovered_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"

In [76]:
def get_and_set_data(url, val_name):
    return pd.read_csv(
        url, 
        error_bad_lines=False
    ).rename(
        columns={
            "Province/State": "province_state",
            "Country/Region": "country_region",
            "Lat": "lat",
            "Long": "long",
        }
    ).melt(
        id_vars=["province_state", "country_region", "lat", "long"],
        var_name='date', 
        value_name=val_name,
    )

In [77]:
df_confirmed = get_and_set_data(url=confirmed_url,val_name="confirmed")
df_confirmed.head()

  province_state country_region      lat     long     date  confirmed
0            NaN    Afghanistan  33.0000  65.0000  1/22/20          0
1            NaN        Albania  41.1533  20.1683  1/22/20          0
2            NaN        Algeria  28.0339   1.6596  1/22/20          0
3            NaN        Andorra  42.5063   1.5218  1/22/20          0
4            NaN         Angola -11.2027  17.8739  1/22/20          0

In [78]:
df_confirmed.describe()

                lat          long      confirmed
count  18176.000000  18176.000000   18176.000000
mean      21.823943     23.158832     634.737016
std       24.437152     70.983731    5792.747349
min      -41.454500   -135.000000       0.000000
25%        7.844875    -16.237775       0.000000
50%       23.692500     20.921188       0.000000
75%       41.227200     84.497525      38.000000
max       71.706900    178.065000  213372.000000

In [79]:
df_confirmed.confirmed.isna().sum()

0

In [80]:
df_dead = get_and_set_data(url=dead_url,val_name="dead")
df_dead.head()

  province_state country_region      lat     long     date  dead
0            NaN    Afghanistan  33.0000  65.0000  1/22/20     0
1            NaN        Albania  41.1533  20.1683  1/22/20     0
2            NaN        Algeria  28.0339   1.6596  1/22/20     0
3            NaN        Andorra  42.5063   1.5218  1/22/20     0
4            NaN         Angola -11.2027  17.8739  1/22/20     0

In [81]:
df_dead.describe()

                lat          long          dead
count  18176.000000  18176.000000  18176.000000
mean      21.823943     23.158832     26.452795
std       24.437152     70.983731    336.836453
min      -41.454500   -135.000000      0.000000
25%        7.844875    -16.237775      0.000000
50%       23.692500     20.921188      0.000000
75%       41.227200     84.497525      0.000000
max       71.706900    178.065000  13155.000000

In [82]:
df_dead.dead.isna().sum()

0

In [83]:
df_recovered = get_and_set_data(url=recovered_url,val_name="recovered")
df_recovered.head()

  province_state country_region      lat     long     date  recovered
0            NaN    Afghanistan  33.0000  65.0000  1/22/20          0
1            NaN        Albania  41.1533  20.1683  1/22/20          0
2            NaN        Algeria  28.0339   1.6596  1/22/20          0
3            NaN        Andorra  42.5063   1.5218  1/22/20          0
4            NaN         Angola -11.2027  17.8739  1/22/20          0

In [84]:
df_recovered.describe()

                lat          long     recovered
count  17182.000000  17182.000000  17182.000000
mean      20.542559     29.173319    190.950064
std       24.092554     67.583039   2444.025765
min      -41.454500   -106.346800      0.000000
25%        7.000000     -7.092600      0.000000
50%       22.083350     23.409400      0.000000
75%       39.549000     90.356300      2.000000
max       71.706900    178.065000  63326.000000

In [85]:
df_recovered.recovered.isna().sum()

0

In [86]:
df_recovered.tail()

,province_state,country_region,lat,long,date,recovered
17177,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,4/1/20,0
17178,NaN,MS Zaandam,0.000000,0.000000,4/1/20,0
17179,NaN,Botswana,-22.328500,24.684900,4/1/20,0
17180,NaN,Burundi,-3.373100,29.918900,4/1/20,0
17181,NaN,Sierra Leone,8.460555,-11.779889,4/1/20,0

In [107]:
df_recovered[df_recovered.date == '2020-03-20']

Empty DataFrame
Columns: [province_state, country_region, lat, long, date, recovered]
Index: []

In [88]:
df_merged = df_confirmed.join(
    df_dead["dead"]
).join(
    df_recovered["recovered"]
).sort_values(
    ['country_region', 'date']
).reset_index(

).drop(
    columns=['index']
)
df_merged.head()

,province_state,country_region,lat,long,date,confirmed,dead,recovered
0,NaN,Afghanistan,33.0,65.0,1/22/20,0,0,0.0
1,NaN,Afghanistan,33.0,65.0,1/23/20,0,0,0.0
2,NaN,Afghanistan,33.0,65.0,1/24/20,0,0,0.0
3,NaN,Afghanistan,33.0,65.0,1/25/20,0,0,0.0
4,NaN,Afghanistan,33.0,65.0,1/26/20,0,0,1.0

In [89]:
df_merged.describe()

                lat          long      confirmed          dead     recovered
count  18176.000000  18176.000000   18176.000000  18176.000000  17182.000000
mean      21.823943     23.158832     634.737016     26.452795    190.950064
std       24.437152     70.983731    5792.747349    336.836453   2444.025765
min      -41.454500   -135.000000       0.000000      0.000000      0.000000
25%        7.844875    -16.237775       0.000000      0.000000      0.000000
50%       23.692500     20.921188       0.000000      0.000000      0.000000
75%       41.227200     84.497525      38.000000      0.000000      2.000000
max       71.706900    178.065000  213372.000000  13155.000000  63326.000000

In [90]:
df_merged.isna().sum()

province_state    12567
country_region        0
lat                   0
long                  0
date                  0
confirmed             0
dead                  0
recovered           994
dtype: int64

In [91]:
df_merged.dtypes

province_state     object
country_region     object
lat               float64
long              float64
date               object
confirmed           int64
dead                int64
recovered         float64
dtype: object

In [92]:
df_merged.date = pd.to_datetime(df_merged.date)

In [93]:
df_merged.dtypes

province_state            object
country_region            object
lat                      float64
long                     float64
date              datetime64[ns]
confirmed                  int64
dead                       int64
recovered                float64
dtype: object

In [94]:
df_merged.head(10)

,province_state,country_region,lat,long,date,confirmed,dead,recovered
0,NaN,Afghanistan,33.0,65.0,2020-01-22,0,0,0.0
1,NaN,Afghanistan,33.0,65.0,2020-01-23,0,0,0.0
2,NaN,Afghanistan,33.0,65.0,2020-01-24,0,0,0.0
3,NaN,Afghanistan,33.0,65.0,2020-01-25,0,0,0.0
4,NaN,Afghanistan,33.0,65.0,2020-01-26,0,0,1.0
5,NaN,Afghanistan,33.0,65.0,2020-01-27,0,0,0.0
6,NaN,Afghanistan,33.0,65.0,2020-01-28,0,0,0.0
7,NaN,Afghanistan,33.0,65.0,2020-01-29,0,0,0.0
8,NaN,Afghanistan,33.0,65.0,2020-01-30,0,0,0.0
9,NaN,Afghanistan,33.0,65.0,2020-01-31,0,0,0.0

Since there is no world entries we create them

In [95]:
len(df_merged.country_region.unique())

180

In [96]:
df_world = df_merged.drop(
    columns=['province_state', 'country_region', 'lat', 'long']
).set_index(
    'date'
).resample(
    'd'
).sum(
    min_count=180
).reset_index(

).assign(
    country_region='World',
    lat=np.nan,
    long=np.nan    
)
df_world

         date  confirmed   dead  recovered country_region  lat  long
0  2020-01-22        555     17       28.0          World  NaN   NaN
1  2020-01-23        654     18       30.0          World  NaN   NaN
2  2020-01-24        941     26       38.0          World  NaN   NaN
3  2020-01-25       1434     42       83.0          World  NaN   NaN
4  2020-01-26       2118     56       63.0          World  NaN   NaN
..        ...        ...    ...        ...            ...  ...   ...
66 2020-03-28     660706  30652   213156.0          World  NaN   NaN
67 2020-03-29     720117  33925        NaN          World  NaN   NaN
68 2020-03-30     782365  37582        NaN          World  NaN   NaN
69 2020-03-31     857487  42107        NaN          World  NaN   NaN
70 2020-04-01     932605  46809        NaN          World  NaN   NaN

[71 rows x 7 columns]

In [97]:
df_world.dtypes

date              datetime64[ns]
confirmed                  int64
dead                       int64
recovered                float64
country_region            object
lat                      float64
long                     float64
dtype: object

In [98]:
df = pd.concat((df_merged, df_world)).sort_values(['country_region', 'date'])

df.recovered = df.recovered.fillna(-1)
df.recovered = pd.to_numeric(df.recovered, downcast="integer")
df.recovered = df.recovered.replace("-1", np.nan)

df.head()

,province_state,country_region,lat,long,date,confirmed,dead,recovered
0,NaN,Afghanistan,33.0,65.0,2020-01-22,0,0,0
1,NaN,Afghanistan,33.0,65.0,2020-01-23,0,0,0
2,NaN,Afghanistan,33.0,65.0,2020-01-24,0,0,0
3,NaN,Afghanistan,33.0,65.0,2020-01-25,0,0,0
4,NaN,Afghanistan,33.0,65.0,2020-01-26,0,0,1

In [99]:
df.tail()

,province_state,country_region,lat,long,date,confirmed,dead,recovered
18164,NaN,Zimbabwe,-20.0,30.0,2020-03-28,7,1,0
18165,NaN,Zimbabwe,-20.0,30.0,2020-03-29,7,1,-1
18167,NaN,Zimbabwe,-20.0,30.0,2020-03-30,7,1,-1
18168,NaN,Zimbabwe,-20.0,30.0,2020-03-31,8,1,-1
18175,NaN,Zimbabwe,-20.0,30.0,2020-04-01,8,1,-1

In [100]:
df.describe()

                lat          long      confirmed          dead      recovered
count  18176.000000  18176.000000   18247.000000  18247.000000   18247.000000
mean      21.823943     23.158832    1264.534444     52.699731     359.048611
std       24.437152     70.983731   17688.383367    845.400905    4909.787328
min      -41.454500   -135.000000       0.000000      0.000000      -1.000000
25%        7.844875    -16.237775       0.000000      0.000000       0.000000
50%       23.692500     20.921188       0.000000      0.000000       0.000000
75%       41.227200     84.497525      40.000000      0.000000       1.000000
max       71.706900    178.065000  932605.000000  46809.000000  213156.000000

In [101]:
import plotly.express as px

In [102]:
fig = px.scatter(
    data_frame=df[df.country_region.isin(["World", "Portugal", "Italy", "Spain", "France"])],
    x="date",
    y="confirmed",
    facet_row="country_region",
)
fig.layout.yaxis2.update(matches=None)
fig

In [103]:
df.date.dt.date.min()

datetime.date(2020, 1, 22)

In [104]:
from datetime import datetime as dt
from datetime import timedelta

dt.utcfromtimestamp(0).date() + timedelta(days=18283)

datetime.date(2020, 1, 22)

In [109]:
df[df.date == dt.strftime(
    dt.utcfromtimestamp(0).date() + timedelta(days=18283),
    "%Y-%m-%d"
    )
]

,province_state,country_region,lat,long,date,confirmed,dead,recovered
0,NaN,Afghanistan,33.0000,65.0000,2020-01-22,0,0,0
71,NaN,Albania,41.1533,20.1683,2020-01-22,0,0,0
142,NaN,Algeria,28.0339,1.6596,2020-01-22,0,0,0
213,NaN,Andorra,42.5063,1.5218,2020-01-22,0,0,0
284,NaN,Angola,-11.2027,17.8739,2020-01-22,0,0,0
...,...,...,...,...,...,...,...,...
17892,NaN,Vietnam,16.0000,108.0000,2020-01-22,0,0,0
17963,NaN,West Bank and Gaza,31.9522,35.2332,2020-01-22,0,0,0
0,NaN,World,NaN,NaN,2020-01-22,555,17,28
18034,NaN,Zambia,-15.4167,28.2833,2020-01-22,0,0,0
18105,NaN,Zimbabwe,-20.0000,30.0000,2020-01-22,0,0,0

In [106]:
df.date.unique()

array(['2020-01-22T00:00:00.000000000', '2020-01-23T00:00:00.000000000',
       '2020-01-24T00:00:00.000000000', '2020-01-25T00:00:00.000000000',
       '2020-01-26T00:00:00.000000000', '2020-01-27T00:00:00.000000000',
       '2020-01-28T00:00:00.000000000', '2020-01-29T00:00:00.000000000',
       '2020-01-30T00:00:00.000000000', '2020-01-31T00:00:00.000000000',
       '2020-02-01T00:00:00.000000000', '2020-02-02T00:00:00.000000000',
       '2020-02-03T00:00:00.000000000', '2020-02-04T00:00:00.000000000',
       '2020-02-05T00:00:00.000000000', '2020-02-06T00:00:00.000000000',
       '2020-02-07T00:00:00.000000000', '2020-02-08T00:00:00.000000000',
       '2020-02-09T00:00:00.000000000', '2020-02-10T00:00:00.000000000',
       '2020-02-11T00:00:00.000000000', '2020-02-12T00:00:00.000000000',
       '2020-02-13T00:00:00.000000000', '2020-02-14T00:00:00.000000000',
       '2020-02-15T00:00:00.000000000', '2020-02-16T00:00:00.000000000',
       '2020-02-17T00:00:00.000000000', '2020-02-18T00:00:00.000000000',
       '2020-02-19T00:00:00.000000000', '2020-02-20T00:00:00.000000000',
       '2020-02-21T00:00:00.000000000', '2020-02-22T00:00:00.000000000',
       '2020-02-23T00:00:00.000000000', '2020-02-24T00:00:00.000000000',
       '2020-02-25T00:00:00.000000000', '2020-02-26T00:00:00.000000000',
       '2020-02-27T00:00:00.000000000', '2020-02-28T00:00:00.000000000',
       '2020-02-29T00:00:00.000000000', '2020-03-01T00:00:00.000000000',
       '2020-03-02T00:00:00.000000000', '2020-03-03T00:00:00.000000000',
       '2020-03-04T00:00:00.000000000', '2020-03-05T00:00:00.000000000',
       '2020-03-06T00:00:00.000000000', '2020-03-07T00:00:00.000000000',
       '2020-03-08T00:00:00.000000000', '2020-03-09T00:00:00.000000000',
       '2020-03-10T00:00:00.000000000', '2020-03-11T00:00:00.000000000',
       '2020-03-12T00:00:00.000000000', '2020-03-13T00:00:00.000000000',
       '2020-03-14T00:00:00.000000000', '2020-03-15T00:00:00.000000000',
       '2020-03-16T00:00:00.000000000', '2020-03-17T00:00:00.000000000',
       '2020-03-18T00:00:00.000000000', '2020-03-19T00:00:00.000000000',
       '2020-03-20T00:00:00.000000000', '2020-03-21T00:00:00.000000000',
       '2020-03-22T00:00:00.000000000', '2020-03-23T00:00:00.000000000',
       '2020-03-24T00:00:00.000000000', '2020-03-25T00:00:00.000000000',
       '2020-03-26T00:00:00.000000000', '2020-03-27T00:00:00.000000000',
       '2020-03-28T00:00:00.000000000', '2020-03-29T00:00:00.000000000',
       '2020-03-30T00:00:00.000000000', '2020-03-31T00:00:00.000000000',
       '2020-04-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [108]:
df[df.date == "2020-01-22"]

,province_state,country_region,lat,long,date,confirmed,dead,recovered
0,NaN,Afghanistan,33.0000,65.0000,2020-01-22,0,0,0
71,NaN,Albania,41.1533,20.1683,2020-01-22,0,0,0
142,NaN,Algeria,28.0339,1.6596,2020-01-22,0,0,0
213,NaN,Andorra,42.5063,1.5218,2020-01-22,0,0,0
284,NaN,Angola,-11.2027,17.8739,2020-01-22,0,0,0
...,...,...,...,...,...,...,...,...
17892,NaN,Vietnam,16.0000,108.0000,2020-01-22,0,0,0
17963,NaN,West Bank and Gaza,31.9522,35.2332,2020-01-22,0,0,0
0,NaN,World,NaN,NaN,2020-01-22,555,17,28
18034,NaN,Zambia,-15.4167,28.2833,2020-01-22,0,0,0
18105,NaN,Zimbabwe,-20.0000,30.0000,2020-01-22,0,0,0